@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Black.woff') format('woff'), url('fonts/AvenirLTStd-Black.ttf') format('truetype'), url('fonts/AvenirLTStd-Black.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTStd-Book.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Book.woff') format('woff'), url('fonts/AvenirLTStd-Book.ttf') format('truetype'), url('fonts/AvenirLTStd-Book.svg') format('svg');
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTStd-Roman.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Roman.woff') format('woff'), url('fonts/AvenirLTStd-Roman.ttf') format('truetype'), url('fonts/AvenirLTStd-Roman.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}