@font-face {
	font-family: 'AvenirLTS';
	src: url('#{$font-path}AvenirLTStd-Black.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Black.woff') format('woff'), url('#{$font-path}AvenirLTStd-Black.ttf') format('truetype'), url('#{$font-path}AvenirLTStd-Black.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirLTS';
	src: url('#{$font-path}AvenirLTStd-Book.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Book.woff') format('woff'), url('#{$font-path}AvenirLTStd-Book.ttf') format('truetype'), url('#{$font-path}AvenirLTStd-Book.svg') format('svg');
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirLTS';
	src: url('#{$font-path}AvenirLTStd-Roman.eot');
	src: local('☺'), url('#{$font-path}AvenirLTStd-Roman.woff') format('woff'), url('#{$font-path}AvenirLTStd-Roman.ttf') format('truetype'), url('#{$font-path}AvenirLTStd-Roman.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}