@import "common/functions";
@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
@import "../../bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/forms";
@import "components/grid";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/pages";
