.i-sections{

    $page-width: 1920px;
    $page-height: 8800px + 100px + 1154px;
    $page-land-min: 500px;

    width: 100%;
    position: relative;
    overflow: hidden;
    
    transition: filter 0.4s ease-out;
    .nav-open &{
        filter: brightness(0.5);
    }

    &__assets{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &--bg{
            
            display: flex;
            flex-direction: column;

            > div{
                background-repeat: no-repeat;
                background-size: auto 100%;
                @media screen and (min-width: 1920px) {
                    background-size: 100% 100%;
                }
                width: 100%;
            }
            &__first{
                background: #000;
                background: linear-gradient(0deg, #6184ac 0%, #000 100%);
                background-image: url(#{$image-path}/bg-sky.jpg);
                background-position: bottom;
                height: 8800px;
                @media (min-width: $page-width) {
                    background-size: 100% 100%;
                }
            }
            &__mid{
                background: #91a1b0;
                background: linear-gradient(0deg, #91a1b0 0%, #739acd 45%, #6184ac 100%);
                min-height: 100px;
                flex-grow: 1;
            }
            &__last, &__area{
                background-position: top !important;
                height: 1154px;
                width: 100%;
                @media (min-width: $page-width) {
                    background-size: 100% 100%;
                }
            }
            &__last{
                background: #91a1b0;
                background: linear-gradient(0deg, #7f792a 0%, #91a1b0 100%);
                background-image: url(#{$image-path}/bg-land.jpg);
            }
            &__ray{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1154px;
                width: 100%;
                > div{
                    overflow: hidden;
                    height: 0;
                    width: 100%;
                    > div{
                        height: 1154px;
                        width: 100%;
                        background-image: url(#{$image-path}/bg-ray.png);
                        background-repeat: no-repeat;
                        background-size: auto 100%;
                        background-position: top;
                    }
                }
            }
            &__area{
                position: absolute;
                bottom: 0;
                left: 0;
                background-position: top;
                background-image: url(#{$image-path}/bg-area.png);
            }
            &__nube4{
                position: absolute;
                top: 6000px;
                left: 0;
                height: 1334px;
                opacity: 0.6;
                background-position: top;
                background-image: url(#{$image_path}/nube-4.png);
            }
        }
        &__sat1{
            position: absolute;
            left: 50%;
            transform-origin: 50% 50%;
            transform: rotate(84.3537deg);
            top: -40px;
            margin-left: -352px;
            @include media-breakpoint-up(md) {
                top: 70px;
                margin-left: -497px;
            }  
        }
        &__sat2{
            position: absolute;
            left: 50%;
            transform-origin: 50% 50%;
            transform: rotate(103.71deg) scale(0.8);
            bottom: 780px;
            margin-left: 40px;
        }
        &__item{
            position: absolute;
            left: 50%;

            &--nube1{
                bottom: 2150px;
                margin-left: 40px;
            }
            &--nube2{
                bottom: 930px;
                margin-left: -40px;
            }
            &--nube3{
                bottom: 2300px;
                left: 0;
            }
            &--a1{
                bottom: 580px;
                margin-left: -650px;
                animation: blink_1 5s ease-in-out infinite;
            }
            &--a2{
                bottom: 1830px;
                margin-left: -650px;
                animation: blink_2 5s ease-in-out infinite;
            }
            &--a3{
                bottom: 3050px;
                margin-left: -650px;
                animation: blink_1 5s ease-in-out infinite;
            }
            &--a4{
                top: 4890px;
                margin-left: -650px;
                animation: blink_2 5s ease-in-out infinite;
                
            }
            &--a5{
                top: 3300px;
                margin-left: -650px;
                animation: blink_1 5s ease-in-out infinite;   
            }
            &--a6{
                top: 280px;
                margin-left: -650px;
                animation: blink_2 5s ease-in-out infinite;
            }
            &--scroll{
                width: 40px;
                height: 70px;
                margin-left: -20px;
                bottom: 170px;
                margin-top: -35px;
                box-shadow: inset 0 0 0 1px #fff;
                border-radius: 25px;

                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    margin-left: -4px;
                    top: 8px;
                    border-radius: 4px;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-name: scroll;
                }
            }
        }

        &--satellite{

            padding-top: 100px;
            width: 1250px;
            left: 50%;
            margin-left: -625px;
            overflow: initial;
            top: initial;
            bottom: 0;
            padding-bottom: 1050px;
            
            #satellite {
                position: absolute;
            }
            svg{
                width: 100%;
                height: 100%;
                path{
                    stroke-width: 0.5px; 
                    stroke: rgb(255, 255, 255);
                    opacity: 0.3;
                }
                #satellite-path{
                    opacity: 0;
                }
            }


        }
    }

    &__inner{
        min-height: $page-height;
        padding-bottom: 850px;
        position: relative;
        z-index: z(z3);
    }
}

.i-section{
    &--contact{
        padding-top: 300px;
        @include media-breakpoint-up(md) {
            padding-top: 450px;
        }
    }
    &--gestion{
        overflow: hidden;
        position: relative;
        .container{
            display: block !important;
        }
        .slick-next, .slick-prev{
            width: 40px;
            height: 40px;
            &:before{
                font-size: 40px;
            }
            z-index: z(z1);
        }
        .slick-next{
            right: 10px;
            @include media-breakpoint-up(md) {
                right: calc(50% - #{(map-get($container-max-widths, md) / 2)+30px} );
            }
            @include media-breakpoint-up(lg) {
                right: calc(50% - #{(map-get($container-max-widths, lg) / 2)+30px} );
            }
            @include media-breakpoint-up(xl) {
                right: calc(50% - #{(map-get($container-max-widths, xl) / 2)+30px} );
            }
        }
        .slick-prev{
            left: 10px;
            @include media-breakpoint-up(md) {
                left: calc(50% - #{(map-get($container-max-widths, md) / 2)+30px} );
            }
            @include media-breakpoint-up(lg) {
                left: calc(50% - #{(map-get($container-max-widths, lg) / 2)+30px} );
            }
            @include media-breakpoint-up(xl) {
                left: calc(50% - #{(map-get($container-max-widths, xl) / 2)+30px} );
            }
        }
        .slick-dots{
            bottom: 0;
            li button:before, li.slick-active button:before{
                color: color(light);
            }
        }
        .slick-track{
            display: flex;
            align-items: center;
        }
        padding-bottom: 25px;
        @include media-breakpoint-up(md) {
            padding-bottom: 0;
        }
    }
}

.i-circle-image{
    border-radius: 100%;
    position: relative;
    display: inline-block;
    border: 15px solid rgba(color(aqua),0.1);

    img{
        border-radius: 100%;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    &:after{
        content: '';
        position: absolute;
        left: -18%;
        top: -18%;
        width: 136%;
        height: 136%;
        border: 2px solid rgba(color(aqua),0.1);
        border-radius: 100%;
    }
}

.i-inner-circle-image{
    border-radius: 100%;
    position: relative;
    display: inline-block;
    border: 15px solid rgba(color(aqua),0.1);

    &__inner{
        border-radius: 100%;
        background-color: theme-color(form);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 250px;
        height: 250px;
    }

    &:after{
        content: '';
        position: absolute;
        left: -18%;
        top: -18%;
        width: 136%;
        height: 136%;
        border: 2px solid rgba(color(aqua),0.1);
        border-radius: 100%;
    }
}

.i-big-circle-image{
    border-radius: 100%;
    position: relative;
    display: inline-block;

    border: 2px solid rgba(color(aqua),0.2);
    padding: 4%;

    img{
        border-radius: 100%;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    &:before{
        content: '';
        position: absolute;
        left: -20%;
        top: -20%;
        width: 140%;
        height: 140%;
        background-color: rgba(color(aqua),0.1);
        border-radius: 100%;
    }
    &:after{
        content: '';
        position: absolute;
        left: -30%;
        top: -30%;
        width: 160%;
        height: 160%;
        border: 2px solid rgba(color(aqua),0.1);
        border-radius: 100%;
    }
}

.i-board{
    border-radius: $border-radius;
    background-color: theme-color(card-secondary);
    color: theme-color(card-text);
    &__row{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        > div{
            padding: $gutter2;
        }
        &:first-child{
            border-radius: $border-radius;
            background-color: theme-color(card);
            color: theme-color(card-contrast);
            > div{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: $gutter2;
                    left: 32%;
                    width: 36%;
                    height: 3px;
                    background-color: color(blue);
                }
            }
        }
    }
}

.i-vertical-card{
    border-radius: $border-radius;
    background-color: theme-color(card-secondary);
    color: theme-color(card-text);
    height: 100%;
    &__image{
        border-radius: $border-radius $border-radius 0 0;     
        width: 100%;
        height: auto;
    }
    &__title{
        text-align: center;
        @include font-weight(black);
        font-size: 1.3rem;
        padding: $gutter2 $gutter;
        margin: 0;
    }
    &__content{
        text-align: center;
        @include font-weight(book);
        font-size: 1.2rem;
        padding: 0 $gutter $gutter3 $gutter;
    }
}

.i-feat{
    position: relative;
    .slick-list{
        overflow: initial !important;
    }
    &__title{
        padding: 0 0 $gutter2 0;
        text-align: center;
        @include media-breakpoint-up(md) {
            position: absolute;
            left: 0;
            top: 50%;
            text-align: right;
            width: 50%;
            padding: 0 $gutter;
            margin-top: -150px;
        }
    }
    &__inner{
        
    }
    &__item{
        @include media-breakpoint-up(md) {
            display: flex !important;
            flex-direction: row;
        }
        &__text{
            width: 100%;
            font-size: 1.3em;
            padding: 0 0 $gutter 0;
            position: relative;
            text-align: center;
            @include media-breakpoint-up(md) {
                width: 50%;
                align-self: center;
                text-align: right;
                padding: 0 $gutter;
            }
            .slick-slide &{
                position: relative;
                transition: filter 0.3s ease-in-out;
                filter: blur(10px);
            }
            .slick-active &{
                filter: blur(0);
            }
            
        }
        &__image{
            width: 100%;
            padding: 0;
            text-align: center;
            @include media-breakpoint-up(md) {
                width: 50%;
                text-align: left;
                padding: 0 $gutter;
            }

            &__inner{
                border-radius: 100%;
                position: relative;
                display: inline-block;
                max-width: 450px;

                img{
                    border-radius: 100%;
                    display: inline-block;
                    max-width: 100%;
                    height: auto;
                    .slick-slide &{
                        position: relative;
                        transition: filter 0.3s ease-in-out;
                        filter: blur(30px);
                    }
                    .slick-active &{
                        filter: blur(0);
                    }
                }

                &:after{
                    content: '';
                    position: absolute;
                    left: -8%;
                    top: -8%;
                    width: 116%;
                    height: 116%;
                    border: 2px solid rgba(color(aqua),0.1);
                    border-radius: 100%;
                }
            }
        }
    }
}

.i-black-card{
    background-color: rgba(color(dark),0.5);
    border-radius: $border-radius;
    padding: $gutter3;
}


.i-card{
    display: flex;
    flex-direction: row;
    @include media-breakpoint-between(md, md) {
        flex-direction: column;
    }
    &__image{
        min-height: 140px;
        width: 40%;
        margin: $gutter 0;
        border-radius: $border-radius 0 0 $border-radius;
        @include media-breakpoint-between(md, md) {
            width: 100%;
            margin: 0;
            border-radius: $border-radius $border-radius 0 0;
        }
        @include media-breakpoint-up(lg) {
            width: 30%;
        }
        @include media-breakpoint-up(xl) {
            width: 40%;
        }
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__text{
        padding: $gutter2 $gutter;
        margin: 0;
        border-radius: $border-radius;
        flex-grow: 1;
        width: 60%;
        @include media-breakpoint-between(md, md) {
            width: 100%;
            border-radius: 0 0 $border-radius $border-radius;
            padding: $gutter $gutter $gutter2 $gutter;
        }
        @include media-breakpoint-up(lg) {
            width: 70%;
        }
        @include media-breakpoint-up(xl) {
            width: 60%;
        }
        min-height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-up(md) {
            min-height: initial;
            justify-content: initial;
        }
        background-color: theme-color(card);
        &:after{
            content: '';
            display: block;
            width: 50%;
            border-bottom: 2px solid color(light);
            margin: $gutter2 0 0 0;
            @include media-breakpoint-up(xl) {
                margin: $gutter2 0;
            }
        }
    }
}